// Change icons in about
.big-icon {
  font-size: 1rem;
  color: grey;
}

// This changes section height for each section
// .home-section {
//   height: calc(100vh - 70px);
// }

.wg-about-biography {
  height: calc(100vh - 70px);
}

// For hero image at bottom
.img-div-bg {
  // height: 10vh;
  // bottom: 0px;
  top: 0;
  left: 0px;
  width: 100%;
  position: absolute;
  z-index:-999;
  min-width: 1400px; // This lets it overflow and work better on mobile

}


// To fix article title size
.media.stream-item .article-title,
.card-simple .article-title {
  font-size: .9rem;
}

// // Decrease text size all round
// body {
//   font-size: .9rem;
// }
